/* VARIABLES */
:root {
  --primary: #0066b3;
  --bg: #f4f6f9;
  --text: #0f0f0f;
}

/* LAYOUT */
.app-layout {
  display: grid;
  height: 100vh;
  grid-template-rows: 56px 1fr;
  grid-template-columns: 240px 1fr;
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s;
}

.app-layout.collapsed {
  grid-template-columns: 60px 1fr;
}

/* HEADER */
.header {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background: #ffffff;
  color: var(--text);
}

.icon-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: inherit;
}

.header-right {
  display: flex;
  gap: 12px;
  align-items: center;
}

/* SIDEBAR */
.sidebar {
  background: #ffffff;
  color: var(--text);
  padding: 16px;
  transition:
    width 0.3s ease;
  background: 0.3s ease;
}

.sidebar nav a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  text-decoration: none;
  color: inherit;
}

.sidebar nav a:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* COLLAPSED */
.collapsed .sidebar {
  width: 50px;
  background: #ffffff;
  box-shadow: none;
  padding: 5px;
}

.collapsed .header {
  background: #ffffff;
  color: var(--text);
}

.collapsed .text {
  display: none;
}

/* MAIN */
.main-content {
  //position: relative;
  display: flex;
  justify-content: center;
  //align-items: center;
  //overflow-y: auto;
}

/* LOGO DIFUMINADO */
.background-logo {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  img {
    width: 420px;
    opacity: 0.07;
    filter: blur(3px);
    transition: opacity 0.3s;
  }
}

/* CONTENT */
.content {
  position: relative;
  z-index: 1;
  max-width: 1100px;
  width: 100%;
}

.material-icons {
  font-size: 22px;
  line-height: 1;
}

/* Sidebar colapsado: iconos centrados */
.collapsed .sidebar nav a {
  justify-content: center;
}

.collapsed .sidebar .material-icons {
  font-size: 24px;
  color: #00060a;
}

.collapsed .header .material-icons {
  font-size: 24px;
  color: #00060a;
}