<div class="inventory-page">
  <div class="inventory-header">
    <div class="header-filters">
      <div class="filter-group">
        <span class="material-icons">store</span>
        <select [value]="filterTienda()" (change)="updateFilter('tienda', $any($event.target).value)">
          <option value="">Todas las tiendas</option>
          @for (tienda of tiendas(); track tienda) {
          <option value="{{ tienda }}">{{ tienda }}</option>
          }
        </select>
      </div>

      <div class="filter-group">
        <span class="material-icons">category</span>
        <input type="text" placeholder="Serial..." [value]="filterSerial()"
          (input)="updateFilter('serial', $any($event.target).value)">
      </div>
      <div class="filter-group">
        <span class="material-icons">category</span>
        <input type="text" placeholder="Responsable..." [value]="filterResponsable()"
          (input)="updateFilter('responsable', $any($event.target).value)">
      </div>
      <div class="filter-group">
        <span class="material-icons">category</span>
        <input type="text" placeholder="Placa..." [value]="filterPlaca()"
          (input)="updateFilter('placa', $any($event.target).value)">
      </div>

      <div class="filter-group">
        <span class="material-icons">category</span>
        <input type="text" placeholder="Fabricante..." [value]="filterFabricante()"
          (input)="updateFilter('fabricante', $any($event.target).value)">
      </div>

      <div class="filter-group">
        <span class="material-icons">category</span>
        <input type="text" placeholder="Modelo..." [value]="filterModelo()"
          (input)="updateFilter('modelo', $any($event.target).value)">
      </div>

      <div class="filter-group">
        <span class="material-icons">settings_suggest</span>
        <select [value]="filterEstado()" (change)="updateFilter('estado', $any($event.target).value)">
          <option value="">Todos los estados</option>
          @for (estado of estados(); track estado) {
          <option value="{{ estado }}">{{ estado }}</option>
          }
        </select>
      </div>
      <button class="primary-btn" (click)="downloadFilteredCsv()" [disabled]="inventarioFiltrado().length === 0">
        <span class="material-icons">table_chart</span> CSV
      </button>
      <button class="primary-btn" (click)="cleanFilter()">
        <span class="material-icons">cancel</span> Borrar Filtros
      </button>
    </div>
  </div>

  <div>
    <div class="stats">
      <p>Total: <strong>{{ inventario().length }}</strong> | Filtrado: <strong>{{ inventarioFiltrado().length
          }}</strong></p>
    </div>

    <table class="tabla">
      <thead>
        <tr>
          <th>Tienda</th>
          <th>Serial</th>
          <th>Placa</th>
          <th>Tipo</th>
          <th>Fabricante</th>
          <th>Modelo</th>
          <th>Responsable</th>
          <th>Ubicacion</th>
          <th>Estado</th>
        </tr>
      </thead>

      <tbody>
        @if (isLoading()) {
        <tr>
          <td colspan="8">Cargando...</td>
        </tr>
        } @else {
        @for (item of paginatedData(); track item.serial) {
        <tr>
          <td>{{ item.tienda.nombre }}</td>
          <td>{{ item.serial }}</td>
          <td>{{ item.placa }}</td>
          <td>{{ item.tipo }}</td>
          <td>{{ item.fabricante }}</td>
          <td>{{ item.modelo }}</td>
          <td>{{ item.usuario.name }}</td>
          <td>{{ item.ubicacion }}</td>
          <td>
            <span class="status" [ngClass]="item.estado?.toLowerCase()">
              {{ item.estado }}
            </span>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="8">Sin resultados</td>
        </tr>
        }
        }
      </tbody>
    </table>

    <div class="paginacion">
      <span class="page-info">
        Página <strong>{{ currentPage() }}</strong> de <strong>{{ totalPages() }}</strong>
      </span>

      <button class="pagi-btn" [disabled]="currentPage() === 1" (click)="goToPage(currentPage() - 1)">
        <span class="material-icons">chevron_left</span>
      </button>

      <button class="pagi-btn" [disabled]="currentPage() === totalPages()" (click)="goToPage(currentPage() + 1)">
        <span class="material-icons">chevron_right</span>
      </button>
    </div>
  </div>
</div>
