.acta-card {
  max-width: 1200px;
  margin: auto;
  padding: 24px;
}

.form-grid {
    padding: 10px;
    width: 100%;
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.col {
    display: inline;
    flex-direction: row;
    gap: 16px;
}

mat-form-field {
    width: 100%;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.resumen-acta {
  max-width: 100%;
  margin: auto;
  padding: 24px;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  color: #1f2937;
}

.titulo {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 4px;
}

.subtitulo {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 24px;
}

/* Grid general */
.resumen-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-bottom: 24px;;
}

/* Cards */
.resumen-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  border-left: 4px solid #0066b3;
}

.resumen-card h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #0066b3;
}

/* Fila label / valor */
.fila {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  border-bottom: 1px dashed #e5e7eb;
}

.fila:last-child {
  border-bottom: none;
}

.fila span {
  font-size: 13px;
  color: #6b7280;
}

.fila strong {
  font-size: 14px;
  font-weight: 500;
  text-align: right;
}

.activo-item:last-child {
  border-bottom: none;
}

/* =======================
   TABLA DE ACTIVOS
======================= */

.tabla-wrapper {
  overflow-x: auto;
}

.tabla-activos {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

.tabla-activos thead {
  background-color: #f9fafb;
}

.tabla-activos th {
  text-align: left;
  padding: 10px;
  font-weight: 600;
  color: #374151;
  border-bottom: 2px solid #e5e7eb;
  white-space: nowrap;
}

.tabla-activos td {
  padding: 8px 10px;
  border-bottom: 1px solid #e5e7eb;
  color: #1f2937;
  white-space: nowrap;
}

.tabla-activos tbody tr:hover {
  background-color: #f3f4f6;
}

.tabla-activos td:first-child,
.tabla-activos th:first-child {
  text-align: center;
  width: 40px;
  color: #6b7280;
}

.resumen-card.full-width {
  grid-column: 1 / -1;
}

.activos-full {
  width: 95%;
  margin: 0 auto;
}
